.navbar-1 {
  background-color: #f2f4f7;
}

.navbar-1-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.navbar-1-city {
  display: flex;
  align-items: center;
  gap: 3px;
}

.navbar-1-city p {
  padding-right: 5px;
}

.navbar-1-city select {
  margin-right: 30px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.navbar-1-cell {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-1-cell select {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.navbar-1-order p {
  color: grey;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-input {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-catalog {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f0f0ff;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  color: #7000ff;
  font-weight: 500;
}

.nav-inp {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-inp button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 3.5px 30px;
  border: none;
  font-size: 23px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  color: grey;
}

.nav-inp input {
  width: 600px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(185, 185, 185);
  cursor: pointer;
}

.nav-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-info-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.nav-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-3-1 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-3-1 p {
  color: black;
}

.nav-3-1 img {
  width: 40px;
}
